<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/css/join_style.css">
</head>

<body>
    <button type="submit" class="navyBtn" onClick="location.href='/manage/manage_reserv'">
        <div class="btn-content">
            <img src="img/calendar1.png" alt="" width="100px" height="100px">
            <span>예약관리</span>
        </div>
    </button>

    <button type="submit" class="navyBtn" onClick="location.href='/boss_myPage1'">
        <div class="btn-content">
            <img src="img/soccer-field.png" alt="" width="100px" height="100px" color="white">
            <span>관리자 마이페이지</span>
        </div>
    </button>
</body>

</html>
