<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/css/join_style.css">
</head>

<body>
    <button type="submit" class="navyBtn" onClick="location.href='join1'">
        <div class="btn-content">
            <img src="img/user_emoji.png" alt="" width="100px" height="100px">
            <span>일반 회원가입</span>
        </div>
    </button>

    <button type="submit" class="navyBtn" onClick="location.href='boss_join1'">
        <div class="btn-content">
            <img src="img/boss_emoji.png" alt="" width="100px" height="100px">
            <span>관리자 회원가입</span>
        </div>
    </button>

</body>

</html>
